name: Automated E2E Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project: [chromium]
        shard: [1/2, 2/2]
    
    defaults:
      run:
        working-directory: estimation-ui-app

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'
        cache-dependency-path: estimation-ui-app/package-lock.json

    - name: Install dependencies
      run: npm ci

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps ${{ matrix.project }}

    - name: Run Playwright tests
      run: npx playwright test --project=${{ matrix.project }} --shard=${{ matrix.shard }}
      env:
        BASE_URL: https://zealous-river-0efdffa0f.1.azurestaticapps.net/

    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report-${{ matrix.project }}-${{ matrix.shard }}
        path: estimation-ui-app/playwright-report/
        retention-days: 30
